.App {
  text-align: center;
}

.links a {
  margin: 0 10px;
}

.mc {
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
  width: 30%;
}
.mc_btns {
  width: 30%;
  display: flex;
  margin: 30px auto 0;
  justify-content: space-between;
}